# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version

# Virtual Environment
venv/
.env

# IDEs and Editors
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log
